<!DOCTYPE html>
<html>

<body>
    <br>
<div class="card">

    <div class="card-header">
        <h5 class="card-title">Search Our Recipes!</h5>
    </div>

    <!-- <div class="card-body"> -->
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                  <%= label :recipe, :category, 'Category', class: 'col-form-label' %>
                  <%= select :recipe, :category, ['Breakfast', 'Lunch', 'Dinner', 'Drink', 'Snack'], {}, {class: 'form-control col-2'} %>
            </li>
            <li class="list-group-item">
                  <br/>
                  <%= submit_tag 'Search', class: 'btn btn-primary' %>
                  <%= link_to 'Cancel', recipes_path, class: 'btn btn-secondary' %>
                <% end %>
            </li>

        </ul>

    <!-- </div> -->

</div>

</body>

</html>