<h1>Welcome to Mindful Meals</h1>

<table class="table table-striped col-md-12" id="meals">
  <thead>
    <tr>
      <th>Meal</th>
      <th>Type</th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <td>
          <%= meal.title %>
        </td>
        <td>
          <%= meal.type %>
        </td>
        <td>
          <%= link_to "More about #{meal.title}", meal_path(meal) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new recipe', new_meal_path, :class => 'btn btn-primary' %>