html {

    background-color: #efefef;

}

.home-header {

    font-family: 'Special Elite', cursive;
    font-size: 72px;
    padding: 10px 10px 10px 10px;
    text-align: center;

}

.home-background {

    background: url("header background.png");
    -webkit-filter: brightness(100%);

}

.home-background:hover {

    -webkit-filter: brightness(95%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

}

.home-text-title {

    -webkit-filter: brightness(100%);
    text-shadow: -3px 3px 5px #000000;

}

.home-text-p {

    -webkit-filter: brightness(100%);
    text-shadow: -1.5px 1.5px 0px #262626;

}

.logo-title {

    font-family: 'Special Elite', cursive;
    font-size: 24px;
    color: #000000;
    padding: 5px 5px 0px 5px;

}

.home-about {

    background-color: #e6e6e6;

}
